<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
    <div class="login-container">
        <div class="login-form" id="loginForm">
            <h1>Blogs</h1>
            <a href="/">user Login</a>
            <h4>Admin Login</h4>
            <form action="/admin/login" method="POST" id="login-form">
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
                <label for="password">password</label>
                <input type="password" name="password" id="password">
                <button type="submit">Login</button>
            </form>
            <% if(locals.message) { %>
                <h2 id="errorData">
                    <%= message %>
                </h2>
                <script>
                    setTimeout(() => {
                        document.getElementById('errorData').innerHTML = '';
                    }, 2000);
                </script>


                <% } %>


        </div>
    </div>
</body>

</html>