<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
            background: url(/public/pics/bg1.jpeg) no-repeat !important;
            background-size: cover !important;
            background-position: center !important;
        }

        .main-boxx {
            display: flex !important;
            flex-direction: column !important;
            border: 2px solid rgba(255, 255, 255, .2) !important;
            margin-bottom: 10px !important;
            background: rgba(0, 0, 0, 0.5) !important;
            border-radius: 14px !important;
            padding: 20px !important;
            width: 80% !important;
        }

        .title-boxx {
            border-bottom: 2px solid rgba(255, 255, 255, .2) !important;
            background-color: transparent !important;
            padding: 10px 0 !important;
            text-align: center !important;
        }

        .content-boxx {
            background-color: transparent !important;
            color: white !important;
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
            justify-content: center !important;
            padding: 10px 0 !important;
            width: 100%;
            text-align: center;
            overflow: visible !important;
            white-space: normal !important;
        }
    </style>
</head>

<body>
    <% if(locals.BlogData) {%>
        <div class="main-boxx">
            <div class="title-boxx">
                <h1>
                    <%= BlogData[0].title %>
                </h1>
            </div>
            <div class="content-boxx">
                <h3>
                    <%= BlogData[0].content %>
                </h3>
            </div>
        </div>
        <% } %>
</body>

</html>